.output-alert {
    margin: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(45, 112, 145, 0.3);
    font-family: Consolas, monospace, serif;
    word-break: break-all;
    color: #2d7091;
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
    background: #ebf7fd;
}

.output-alert-danger {
    background: #fff1f0;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3);
}